.coin-container {
  display: flex;
  justify-content: center;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}
.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
}
 */
.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin img {
  height: 23px;
  width: 23px;
  margin-right: 10px;
}
.coin-name{
    font-size: 15px;
}
.coin-symbol {
    font-size: 8px;
  text-transform: uppercase;
}
.coin-data{
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}
.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}
.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
/* 


 */