*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #363547;
            font-size: 16px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 10px ;
                width: 250px;
                border: none;
                border-bottom:1px solid #a7bcff;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }

            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;

            }
            
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 13px;
                cursor: pointer;
            }
            img {
          width: 32px;
        }
        }
        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            //border-right: 1px solid black;
            background-color: #3e3c61;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;

                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color:#5d5b8d;
                        color: #ddddf7;
                        font-size: 9px;
                        border: none;
                        cursor:pointer;
                    }
                }
            }
            .search{
                //border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    border-bottom: 1px solid gray;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: lightgray;
                        }
                    }
                }
                
            }
            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;


                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    width: 50px;
                    height:50px;
                    border-radius: 50%;
                    object-fit: cover;
                    }

                    .userChatInfo{
                        span{font-size: 18px; font-weight: 500;}
                        p{font-size: 14px; color: lightgray;}
                    }
                }
        
        }
        .chat{
            flex: 2;

            .chatInfo{
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                color: lightgray;
                
                
                .chatIcons{
                    display: flex;
                    gap: 10px;

                    img{
                        height: 24px;
                        cursor: pointer;
                    }
                }
                
            }
            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - (100px));
                //overflow: scroll;
            }

            .input{
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    //background-color: red;
                    width: 100%;
                    
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;
                    &::placeholder{
                    color: lightgray;
                    
                }
                }
                .send{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img{
                        width: 20px;
                    }

                    button{
                        padding:7px;

                    }
                }
            }
        }
    }
}