*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #363547;
            font-size: 16px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 10px ;
                width: 250px;
                border: none;
                border-bottom:1px solid #a7bcff;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }

            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;

            }
            
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 13px;
                cursor: pointer;
            }
            img {
          width: 32px;
        }
        }
        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
    
}
